.subject {
    text-overflow: hidden;
    font-size: 1.5em;
    color: darkslategray;
}

.subject.rasp-truncated{
    text-overflow: hidden;
    font-size: 1.5em;
    color: darkslategray;
}

.text {
    font-size: 1em;
    color: slategray;
    white-space: pre-line;
}

.text.rasp-truncated{
    max-height: 0px;
}
.text.rasp-open.rasp-minimize{
    max-height: 0px;
}

.articles{
    display: block;
    padding-left: 1em;
}

.rasp-demo {
    border: 1px solid black;
    margin: 5em;
    background: white;
}

/* From Accordion.css */
.accordion {
  overflow: hidden;
  max-height: 0;
  position: relative;

}

.accordion.expanding {
    overflow: hidden;
}

.accordion.text.expanding {
  overflow: visible;
  overflow-y: hidden;
}

.accordion.expanded {
    max-height: none;
    /* overflow nothing */
}

.accordion.text.expanded {
    max-height: none;
    overflow: visible;
}

.accordion.collapsing {
  overflow: hidden;
}

.accordion.text.collapsing {
  overflow: visible;
  overflow-y: hidden;
}

.accordion.collapsed {
  overflow: hidden;
}

.accordion.text.collapsed {
  overflow: hidden;
}